<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lty.mapper.BookMapper">

    <select id="selectBookList" resultType="com.lty.model.entity.Book">
        <bind name="likePattern" value="'%' + dto.bookName + '%'"/>
        select id, bookName, type, price, createTime, updateTime, isDelete
        from book t
        <where>
            t.isDelete=0
            <if test="dto.keyword!=null and dto.keyword!=''">
                and (t.bookName like concat('%',#{dto.bookName},'%') or t.type like concat('%',#{dto.type},'%'))
            </if>
            <if test="dto.bookName!=null and dto.bookName!=''">
                and t.bookName like concat('%',#{dto.bookName},'%')
            </if>
            <if test="dto.typeList != null and dto.typeList.size() > 0">
                and t.type in
                <foreach collection="dto.typeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dto.bookName != null and dto.bookName != ''">
                and t.bookName like #{likePattern}
            </if>
        </where>
    </select>
</mapper>
