<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lty.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.lty.model.entity.Book">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="bookName" column="bookName" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bookName,author,
        createTime,updateTime,isDelete
    </sql>

    <select id="selectBookList" resultType="com.lty.model.entity.Book">
        select id, bookName, author, createTime, updateTime, isDelete
        from book t
        <where>
            t.isDelete=0
            <if test="dto.keyword!=null and dto.keyword!=''">
                and (t.bookName like concat('%',#{dto.bookName},'%') or t.author like concat('%',#{dto.author},'%'))
            </if>
            <if test="dto.bookName!=null and dto.bookName!=''">
                and t.bookName like concat('%',#{dto.bookName},'%')
            </if>
            <if test="dto.authors != null and dto.authors.size() > 0">
                and t.author in
                <foreach collection="dto.authors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
